@import "variables";
@import "mixins";

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  button {
    align-items: center;
    border: 1px solid $gray-3d;
    border-radius: 5px;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 48px;

    &:hover {
      background-color: $doge-blue;
    }
  }
}
