// Basic colors
$black: #000000;
$white: #FFFFFF;
$doge-black: #091217;
$doge-blue: #132229;
$doge-light: #E5CE86;
$doge-dark: #BDA238;

// Gray scales
$gray-00:  #000000;
$gray-28:  #282828;
$gray-3d:  #3D3D3D;
$gray-6d:  #6D6D6D;
$gray-70:  #707070;
$gray-94:  #949494;
$gray-ab:  #ABABAB;
$gray-b0:  #B0B0B0;
$gray-c4:  #C4C4C4;
$gray-ce:  #CECECE;
$gray-d5:  #D5D5D5;
$gray-d8:  #D8D8D8;
$gray-de:  #DEDEDE;
$gray-e1:  #E1E1E1;
$gray-e5:  #E5E5E5;
$gray-ef:  #EFEFEF;
$gray-f0:  #F0F0F0;
$gray-f1:  #F1F1F1;
$gray-f5:  #F5F5F5;
$gray-f9:  #F9F9F9;
$gray-fa:  #FAFAFA;
$gray-ff:  #FFFFFF;
