@import "variables/colors";

.black {
  color: $black;
}

.white {
  color: $white;
}

.doge-black {
  color: $doge-black;
}

.doge-blue {
  color: $doge-blue;
}

.doge-light {
  color: $doge-light;
}

.doge-dark {
  color: $doge-dark;
}

.gray-3d {
  color: $gray-3d;
}

.gray-6d {
  color: $gray-6d;
}
