* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

input {
  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style: none;
  margin-left: 0;
}

// Remove arrows from number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
