@import "variables";

.mainContainer {
  background-color: $doge-black;
  overflow-x: hidden;
}

.lightMode {
  filter: invert(1);
}

@media screen and (min-width: breakpoint("sm")) {
  .mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 101px);
    justify-content: space-between;

    .inner {
      max-width: 1920px;
      padding: 40px;
      width: 100%;
    }
  }
}

@media screen and (min-width: breakpoint("lg")) {
  .mainContainer {
    .inner {
      padding: 40px 100px;
    }
  }
}
